[Unit]
Description=autoExeAfterBoot                        # 服务描述
Documentation=/root/Script/autoExeAfterBoot.sh      # 服务文档所在路径                      
After=auditd.service systemd-user-sessions.service time-sync.target network.target  # 服务依赖关系，在哪些服务之后启动


[Service]
Type=forking                                        # 服务的运行形式，forking 后台运行
ExecStart=/root/Script/autoExeAfterBoot.sh          # 启动服务执行的命令



[Install] 
WantedBy=multi-user.target                          # 表示在哪些启动模式下，该服务需要执行


